{% extends 'base.html.twig' %}

{% block title "Liste des produits" %}

{% block body %}

<div class="jumbotron text-center">
    <h1>Les produits</h1>
</div>

<div class="container mt-4">
    <h2>La liste</h2>
</div>

{% endblock %}