{% extends 'base.html.twig' %}

{% block body %}

<div class="container md-4">
    <h2>Editer le bien</h2>
    {{include('admin/product/_form.html.twig', {form: form, button: 'Ajouter'}) }}
</div>

{% endblock %}