{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron text-center">
    <h1>Admin Lebonfork</h1>
</div>

<div class="container">
    <h2>Gerer les biens</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{product.title}}</td>
                    <td>
                        <a href="{{path('admin.product.edit', {id: product.id})}}" class="btn-secondary">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}