{% extends 'base.html.twig' %}

{% block body %}

<div class="container md-4">
    <h2>Créer un nouveau bien</h2>
    
    {{include('admin/product/_form.html.twig', {form: form, button: 'Créer'}) }}
</div>

{% endblock %}